body {
  margin: 0;
  font-family: "Gill sans";
  /* font-family: "Playwrite PE", cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gill sans";
}
